flows.json
[{"id":"7d4e5b3e.0cad44","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2644e4e7.0d96ac","type":"http in","z":"7d4e5b3e.0cad44","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":80,"y":520,"wires":[["ed5b66ae.d1c6b8"]]},{"id":"d46fb1aa.e8c84","type":"http response","z":"7d4e5b3e.0cad44","name":"","statusCode":"","headers":{},"x":550,"y":520,"wires":[]},{"id":"ed5b66ae.d1c6b8","type":"function","z":"7d4e5b3e.0cad44","name":"httpresponse","func":"msg.payload={\"temperature\":global.get('temperature'),\"humidity\":global.get('humidity'),\"objectTemp\":global.get('objectTemp')}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":520,"wires":[["d46fb1aa.e8c84"]]},{"id":"7bf3dfba.817d7","type":"debug","z":"7d4e5b3e.0cad44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":440,"wires":[]},{"id":"1f42b49b.85ab4b","type":"http in","z":"7d4e5b3e.0cad44","name":"","url":"/message","method":"get","upload":false,"swaggerDoc":"","x":610,"y":340,"wires":[["5ffda619.7555d8"]]},{"id":"4cd5929b.fddfec","type":"http response","z":"7d4e5b3e.0cad44","name":"","statusCode":"","headers":{},"x":810,"y":380,"wires":[]},{"id":"5ffda619.7555d8","type":"function","z":"7d4e5b3e.0cad44","name":"commands","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":280,"wires":[["4cd5929b.fddfec","d4a2b0b6.7b37c","79faf864.375588"]]},{"id":"d4a2b0b6.7b37c","type":"debug","z":"7d4e5b3e.0cad44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":440,"wires":[]},{"id":"79faf864.375588","type":"ibmiot out","z":"7d4e5b3e.0cad44","authentication":"apiKey","apiKey":"3dc40bc8.4123f4","outputType":"cmd","deviceId":"1001","deviceType":"rsip","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":880,"y":460,"wires":[]},{"id":"d206b9.a25b6948","type":"ui_button","z":"7d4e5b3e.0cad44","name":"door open","group":"9377179c.b60568","order":3,"width":0,"height":0,"passthru":false,"label":"door open","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"open\"}","payloadType":"json","topic":"","x":100,"y":480,"wires":[["7bf3dfba.817d7","79faf864.375588"]]},{"id":"219ce4ac.ff4c5c","type":"ui_button","z":"7d4e5b3e.0cad44","name":"door close","group":"9377179c.b60568","order":4,"width":0,"height":0,"passthru":false,"label":"door close","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"close\"}","payloadType":"json","topic":"","x":260,"y":440,"wires":[["7bf3dfba.817d7","79faf864.375588"]]},{"id":"3dc40bc8.4123f4","type":"ibmiot","z":0,"name":"iotdevice","keepalive":"60","serverName":"x865gr.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"9377179c.b60568","type":"ui_group","z":"","name":"smarthome","tab":"b2b8410a.31431","order":1,"disp":true,"width":"6","collapse":false},{"id":"b2b8410a.31431","type":"ui_tab","z":0,"name":"Home","icon":"dashboard","disabled":false,"hidden":false}]